#header {
  background-color: #464244b7;
  text-align: center;
  border-radius: 0px;
  border: 3px solid #d63c89;
  margin: auto;
  color: aliceblue;
  padding: 7px;
  border-radius: 5px;
  font-weight: bold;
}