#footer {
	position: fixed;
	color: white;
	width: 90%;
	bottom: 0;
	background: #46424498;
	text-align: center;
	padding: 7px;
	margin: 0 auto;
	 border: 3px solid #d63c89;
  	border-radius: 5px;
	  font-weight: bold;
}

@media screen and (orientation: landscape) {
#footer {
width: 95%;
}
	
}